 [Unit]
 Description=Voila

 [Service]
 Type=simple
 PIDFile=/run/voila.pid
 ExecStart=/bin/bash /home/ubuntu/voila_current/voilascript.sh
 User=ubuntu
 WorkingDirectory=/home/ubuntu/
 Restart=always
 RestartSec=10

 [Install]
 WantedBy=multi-user.target
