[Unit]
Description=JupyterHub After=syslog.target network.target

[Service]
User=root
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/bin/bash /home/ubuntu/voila/jupyterhub/systemd/runhub.sh

[Install]
WantedBy=multi-user.target

