 [Unit]
 Description=Voila

 [Service]
 Type=simple
 PIDFile=/run/voila.pid
 ExecStart=/bin/bash /home/jupyterlab/virus-data-voila/scripts/voilascript.sh
 User=root
 WorkingDirectory=/home/jupyterlab/
 Restart=always
 RestartSec=10

 [Install]
 WantedBy=multi-user.target
